body{
    background-color: rgb(1, 218, 19);
    padding-block: 20px;
  

}
h1{text-align-last: right;
    font color: rgb(218, 1, 1);
}

div{
    background-color: darkgray;
}

table td{
    border: 1px solid black;
    background-color: darkturquoise;
}


